################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KaffeKlarRestAPI/.vs
/KaffeKlarRestAPI/bin/Debug/net8.0
/KaffeKlarRestAPI/obj
/KaffeklarWasmClient/.vs
/KaffeklarWasmClient/obj
/KaffeklarWasmClient/bin/Debug/net8.0
