.date-timer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

::deep .time-picker {
    width: 100%;
    max-width: 600px;
    min-width: 100px;
    flex: 5;
    justify-content: center;
}

::deep .mud-picker-timepicker-toolbar {
    background-color: #D7CCC8 !important;
}

::deep .mud-picker-content {
    width: 100%;
    max-width: 600px;
    min-width: 100px;
}

.picker-actions {
    flex: 1;
    display: flex;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}