@page "/"
@inject HttpClient Http
@inject ISnackbar Snackbar

<div class="date-timer-section">
    <MudTimePicker 
        PickerVariant="PickerVariant.Static" 
        Color="Color.Dark"
        Rounded="true"
        ToolbarClass="timer-picker-toolbar"
        MinuteSelectionStep="5"
        @bind-time="@currentTime" Class="time-picker">
    </MudTimePicker>
    <div class="picker-actions">
        <MudButton 
            Style="background-color: #8D6E63; color: white;"
            OnClick="@StartCoffeeMachine">
            Sæt timer
        </MudButton>
    </div>
</div>

@code{
    public TimeSpan? currentTime;

    protected override void OnInitialized(){
        char[] separators = new char[] { ':', '.' };
        var tempTime = DateTime.Now.ToLocalTime().ToString("HH:mm").Split(separators);

        currentTime = new TimeSpan(Int32.Parse(tempTime[0]), Int32.Parse(tempTime[1]), 00);
        Log.Information($"Time: {currentTime}");
    }

    private async Task StartCoffeeMachine(){
        var coffeeRequest = new CoffeeRequest { Time = currentTime };

        // Konverter objektet til JSON-indhold
        var jsonContent = new StringContent(
            System.Text.Json.JsonSerializer.Serialize(coffeeRequest),
            System.Text.Encoding.UTF8,
            "application/json"
        );

        var response = await Http.PostAsync("api/raspberrypi/startcoffee", jsonContent);

        if (response.IsSuccessStatusCode)
            Snackbar.Add("Kaffemaskinen blev startet");
        else
            Snackbar.Add("Fejl ved start af kaffemaskinen");
    }

    // public void SetNewTime(){
    //     Log.Information($"New time: {currentTime}");
    // }
}